.home-banner{
    background: url("/assets/img/home-banner.jpg") no-repeat center -200px;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(60%);
    
}

.home-banner h1{
    color:#fff;
    font-size: 40px;
    text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
}

.home-search-box{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    margin-top:-20px;
    z-index: 1000;
}
.home-search-box .input-search{
   border-radius: 0px;
   width: 50%;
}

.home-main-container{
    margin:5% 3%;
}

.home-need-item-header{
    display: flex;
    align-items: flex-start;
}

.home-need-item-header img{
    width: 80px;
    height: 80px;
    border: 1px solid #eee;
    border-radius: 5px;
}
.home-need-item-header-info{
    padding: 0 15px;
}

.statup-item{
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: start;
    margin: 10px 0;
}

.statup-item h2{
    font-size: 20px;
    font-weight: 300;
}

.statup-item img{
    width: 100px;
    height: 100px;
    border-radius: 10%;
}

.best-startup{
    text-align: center;
    padding: 10px;
    border : 1px solid #eee;
    border-radius: 5px;
    background: rgba(230, 230, 230, 3);
}
.best-startup .statup-item-content{
    padding: 20px;
}

.statup-content{
    margin-left: 10px; 
}
.home-need-item{
    margin-bottom: 20px;
    padding: 10px;
    /* border: 1px solid rgb(150, 150, 150); */
    border-radius: 5px;
    background: rgba(230, 230, 230, 3);
}

.home-need-item-content{
    padding:10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-need-item-tags{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-need-item-footer .postuler{
    background: #ecce00
}

.home-need-item-tags ul{
    display:flex;
    list-style: none;
    margin-top:10px;
}

.home-need-item-tags li{
    padding: 3px;
    border : 1px solid #eee;
    border-radius: 5px;
    margin-right: 10px;
    background: #eee;
    font-size: 12px;
    font-weight: 600;
}

.home-need-item-footer{
    display: flex;
    justify-content: flex-end
}

.statup-item span{
    font-size: 18px;
}

/* details needs */

.details-needs{
    padding:20px;
}

.details-needs-startup{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    border-radius: 5px;
    opacity: 1;
    transition: all .2s ease;
    background: rgba(230, 230, 230, 0.3)
}

.details-needs-startup-top-info{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.details-needs-startup-top-info img{
    width: 120px;
    height: 120px;
    background: #fff;
    position: inherit;
    margin-top: 10px;
    border: 1px solid rgba(52, 73, 94, 0.44);
    padding: 4px;
    border-radius: 50%
}

.home-need-item .modal-dialog{
    max-width: 80% !important;
}
.details-needs-box{
    border-radius: 5px;
    border : 1px solid #eee;
    padding: 20px;
    background: rgba(230, 230, 230, 0.3);
}

.details-needs-box p{
   margin-top: 20px
}

.widget_tally li{
    margin : 5px;
    font-size: 15px
}
.widget_tally i{
    font-size: 15px
}
.box-need-info{
    margin: 20px 10px;
    background: rgba(230, 230, 230, 0.3);
    border-radius: 5px;
    border : 1px solid #eee;
    padding: 20px;
}
/* end details needs */