*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f3f3f3;
}

.error-form {
  padding: 20px 30px;
  background: red;
  border: 1px solid;
  border-radius: 5px;
  color: #fff;
}